// Place all the styles related to the personal_helper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a
  {
    text-decoration:none;  
  }



.topOptions//上方選單文字部份css
 {
   color:white;
   position:absolute;
   font-size:24px;
   -webkit-transition:color 0.2s,text-shadow 0.5s;
   
   &:hover
   {
   	color:red;
   	text-shadow: 2px 2px 2px #aa0000;
   }
   
        


 }

#topMenu//上方選單div部份
 {
   position:fixed;
   right:0;
   top:0;
   background:linear-gradient(to right,white,black);
   width:100%;
   height:48px;
   
        #jpDropdown
      {
      	//background:red;
      	height:30px;
      	width:100px;
      	position:absolute;
        right:30px;
        top:10px;
      }
      
           #fpDropdown
      {
      	overflow: hidden;
      	//background: red;
      	height: 30px;
      	width: 80px;
      	position: absolute;
        right: 130px;
        top: 10px;
        transition:height 0.5s;
        transition-delay: 0.4s;
        /*&:hover
        {
        	//-webkit-animation:fpdrop 0.5s;
        	//-webkit-animation-fill-mode: forwards;
        	height:100px;
        }
        #lastMon
        {
        	position:absolute;
        	top: 50px;
        	left: 10px;
        	border-radius: 20px;
        	padding:5px;
        	//background:red;
        	transition:background 0.2s,color 0.2s;
        	&:hover
        	{
        		background:black;
        		color:white;
        	}
        }*/
      }
 }
 
 	/*@-webkit-keyframes fpdrop
 	{
 		0%	{height:30px;}
 		50% {height:120px;}
 		75% {height:90px;}
 		100% {height:120px;}
 	}*/
 
  
   #main
   {
     position:absolute;
     top:48px;
     left:0px;
   }
   
   #fcodeZone
   {
  		position:absolute;
  		left:20px;
  		top:20px;
  		font-size:30px;
  		font-family:comic sans ms;
  		color:red;
  		letter-spacing:8px;
   }
   
   #fplist
   {
   		position:absolute;
   		left:950px;
   		top:30px;
   		width:200px;
   		
   		 .fpParagraph
		   {	
		   		font-family:Arial;
		   		color:gray;
		   		font-size:30px;
		   		letter-spacing:2px;
		   	&.fpLucky
		   	{
		   		text-shadow:2px 2px 2px black;
		   	}
		   }
   }
   
  
   

	#FPtable//get來的統一發票號碼表格
	{
		position:absolute;
   		top:80px;
   		left:20px;
   		width:600px;
   		height:auto;
		.t18Red{font-size: 24px;line-height: 120%;color:#ff0000;font-weight: bold;}

			h2{ font-size: 18px; color: #244775; line-height: 140%; margin-bottom: 5px;}

			caption{ display: none; }
			table{ background-color: #cbcbcb; margin-bottom: 5px; }

			th{ background-color: #0B62B1; color: #fff; padding: 3px; }

			td{ background-color: #fff;padding: 3px; }

			td.title{ background-color: #f7f7f7; text-align: center; }
		}
	
	
	
	
	#emptyMsg
	{
		position:absolute;
		left:0px;
		top:100px;
		#nofapiao
			{
				position:absolute;
				left:0px;
				top:160px;
				font-weight:bold;	
			}
	}
	

